@page
@model IndexModel
@{
    float heightScale = 1f / Model.Colours.Count;
    foreach (string colour in Model.Colours)
    {
        <div class="row p-2">
            <button id="button-@colour.ToLowerInvariant()" class="btn btn-lg" style="height: calc(@heightScale * (100vh - 125px)); background-color: @colour" onclick="light_led('@colour.ToLowerInvariant()')"></button>
        </div>
    }
}

@section Scripts
{
    <script>
        function light_led(colour)
        {
            console.log('Lighting LED: ' + colour);
            fetch('@Model.Path?colour=' + colour);
        }
    </script>
}